#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  font-family: "Fira Code";
  -webkit-overflow-scrolling: touch;
}

.htmlScreen iframe {
  height: 700px;
  border: none;
  background: #000;
  overflow-y: scroll;
  touch-action: touch;
}

canvas {
  touch-action: touch;
}
